<ion-header>
  <ion-navbar>
    <ion-title>
      Inmuebles en venta
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor= "let inmueble of inmuebles" col-4>
        <ion-card>
          <img *ngIf ="inmueble.hasOwnProperty('pictures')"
          src= "{{inmueble.pictures[0].url}}">
          <ion-card-content>
            <h2 *ngIf="inmueble.hasOwnProperty('price')"> {{inmueble.price.formattedAmount}}</h2>
            <p *ngIf= "inmueble.hasOwnProperty('geo')">{{inmueble.geo.displayName}}, {{inmueble.geo.name}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
